@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-white-1 {
  background: rgba(255, 255, 255, 0.11)
}

@layer components {
 
  .bg-circles {
    @apply absolute w-4 h-4 rounded-full bg-gradient-to-br 
  }
  .row {
    @apply flex flex-row justify-center items-center space-x-3 px-2
  }
  .row-start {
    @apply flex flex-row justify-start items-center space-x-3 px-2
  }
  .row-end {
    @apply flex flex-row justify-end items-center space-x-3 px-2
  }
  .col {
    @apply flex flex-col py-3 
  }
  .half {
    @apply w-1/2
  }
  .full {
    @apply w-full
  }
  .center {
    @apply justify-center items-center
  }
  .btn {
    @apply px-4 py-2 rounded-xl cursor-pointer flex flex-row justify-center items-center
  }
  .bold {
    @apply font-bold
  }

  h1{
    @apply text-7xl
  }

  h2 {
    @apply text-4xl
  }

  h3{
    @apply text-2xl
  }

  h4{
    @apply text-sm
  }

  h5{
    @apply text-lg
  }
  p{
    @apply text-base
  }

  

}

.bg-gradient{
  background: linear-gradient(205deg, rgba(25,79,111,1) 0%, rgba(12,22,44,1) 100%);
}